@import 'styles/brand.less';
@import 'styles/typography.less';
@import 'styles/grid.less';
@import 'styles/mixins.less';


/********GLOBAL STYLES******/

.pageContainer {
  width: 1280px;
  background-color: @color5;
}

.container {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  background-color: @color4;
  .border-radius;
}

header {
  .column(12);
  color: @color5;
  float: left;
  background-color: @color4; 
}

nav {
  /*background-color: @color4;*/
  ul { 
  margin-left: 360px;
  margin-bottom: 20px;
  li {
  display: inline;
  margin-left: 20px;
  font-size: @navfontsize;
  font-family: 'Roboto', sans-serif;
  a {
    text-decoration: none;
      }
    }  
  }
}

footer {
  width: 960px;
  height: 50px;
  .border-radius;
  .box-size(2px, 2px);
  background-color: @color1;
  margin-left: 160px;
  .opacity;
  p {
    font-size: 18px;
    padding: 15px 0 0 230px;
  }
}

/*********HOME PAGE**********/

img#bandImg {
  margin: 0 0 10px 175px;
  .border-radius;
  .box-shadow(2px, 7px, 8px, 0.8);
}

article#mainColumn {
  .column(7);
  h1 {
    font-size: @honefontsize;
    font-family: @headerfont;
    margin-bottom: 10px;
  }
}

article img {
  .border-radius;
  .box-shadow(5px, 5px, 6px, 0.3);
}

h2#volitionText {
  font-size: @htwofontsize;
  font-family: @headerfont;
  padding-top: 13px;
  margin-bottom: 30px;
}

sidebar#sidebar {
  .column(5);
}

section#tourDates {
  h2 {
    font-size: @htwofontsize;
    font-family: @headerfont;
    margin-bottom: 10px
  }
}

#tourDates ul {
  margin-top: 15px;
  li {
    margin-bottom: 30px;
  }
}

/***************************/

/********ABOUT PAGE*********/

#bandPhoto {
  margin-right: 5px;
  .border-radius;
}

h1#bandBio {
  margin-left: 10px;
  text-decoration: underline;
  font-size: @honefontsize;
  font-family: @headerfont;
}

#bioContain {
  width: 900px;
  margin: 5px 0 20px 10px;
  font-family: @bodyfontfamily;
  font-size: @bodyfontsize;
  line-height: @baselineheight;
}

#bioContain img {
  .box-shadow(2px, 2px, 3px, 0.5);
}

.left {
  float: left;
  margin: 1px;
}

#pthAlbums {
  h2 {
    margin: 0 0 10px 10px;
    font-size: @htwofontsize;
    text-decoration: underline;
  }
}

#pthAlbums {
  .reflect(20%, 0.1);
  ul {
    margin-left: 20px;
    li {
      margin: 0 0 10px 20px;
      display: inline;
      a {
        text-decoration: none;
      }
    }
  }
}

ul#albumText {
  margin: 0 0 10px 29px;
  li {
    display: inline;
    margin-left: 35px;
    font-weight: bold;
    a {
      text-decoration: none;
    }
  }
}

/***************************/

/*********TOUR PAGE********/

#tourHeader {
  margin: 10px 0 10px 68px;
  text-decoration: underline;
  font-size: @honefontsize
}

ul#fullTour {
  margin: 20px 0 0 0;
    .column(9);
  li {
    margin: 10px 0 10px 60px;
  }
}

.buyTix {
  .column(3);
  float: right;
  margin-bottom: 10px;
  li {
    /*width: 300px;*/
    font-size: 20px;
  a {
    }
  } 
}

/****************************/