@import 'styles/brand.less';
@import 'styles/typography.less';
@import 'styles/grid.less';
@import 'styles/mixins.less';

.container {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

header {
  .column(12);
}

article#mainColumn {
  .column(8);
}

sidebar#sidebar {
  .column(4);
}

header h1 {
	font-size: 32px;
	color: blue;
	float: left;
}

nav li {
	display: inline;
}

header h1 {
  color: red;
}

