@import url(http://fonts.googleapis.com/css?family=Droid+Sans:700);

@import url(http://fonts.googleapis.com/css?family=Roboto:300);
body {
  font-family: Roboto 300 Light;
}
p {
  color: #393939;
}
h1 {
  font-family: 'Droid Sans';
  font-size: 84px;
}
h2 {
  font-family: 'Droid Sans';
  font-size: 88px;
}
h3 {
  font-family: 'Droid Sans';
  font-size: 90px;
}
a {
  color: #393939;
}
a:hover {
  color: #3cbdc8;
}
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
.box-size (border-box: 2px) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/********GLOBAL STYLES******/
.pageContainer {
  width: 1280px;
  background-color: #393939;
}
.container {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #898989;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
header {
  display: inline;
  width: 940px;
  margin: 0 10px;
  color: #393939;
  float: left;
  background-color: #898989;
}
nav {
  /*background-color: @color4;*/

}
nav ul {
  margin-left: 360px;
  margin-bottom: 20px;
}
nav ul li {
  display: inline;
  margin-left: 20px;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}
nav ul li a {
  text-decoration: none;
}
footer {
  width: 960px;
  height: 50px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #3cbdc8;
  margin-left: 160px;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
footer p {
  font-size: 18px;
  padding: 15px 0 0 230px;
}
/*********HOME PAGE**********/
img#bandImg {
  margin: 0 0 10px 175px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
}
article#mainColumn {
  display: inline;
  float: left;
  width: 540px;
  margin: 0 10px;
}
article#mainColumn h1 {
  font-size: 28px;
  font-family: 'Droid Sans';
  margin-bottom: 10px;
}
article img {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
}
h2#volitionText {
  font-size: 22px;
  font-family: 'Droid Sans';
  padding-top: 13px;
  margin-bottom: 30px;
}
sidebar#sidebar {
  display: inline;
  float: left;
  width: 380px;
  margin: 0 10px;
}
section#tourDates h2 {
  font-size: 22px;
  font-family: 'Droid Sans';
  margin-bottom: 10px;
}
#tourDates ul {
  margin-top: 15px;
}
#tourDates ul li {
  margin-bottom: 30px;
}
/***************************/
/********ABOUT PAGE*********/
#bandPhoto {
  margin-right: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
h1#bandBio {
  margin-left: 10px;
  text-decoration: underline;
  font-size: 28px;
  font-family: 'Droid Sans';
}
#bioContain {
  width: 900px;
  margin: 5px 0 20px 10px;
  font-family: Roboto 300 Light;
  font-size: 13px;
  line-height: 18px;
}
#bioContain img {
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
.left {
  float: left;
  margin: 1px;
}
#pthAlbums h2 {
  margin: 0 0 10px 10px;
  font-size: 22px;
  text-decoration: underline;
}
#pthAlbums {
  -webkit-box-reflect: below 12px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(20%, transparent), to(rgba(255, 255, 255, 0.1)));
}
#pthAlbums ul {
  margin-left: 20px;
}
#pthAlbums ul li {
  margin: 0 0 10px 20px;
  display: inline;
}
#pthAlbums ul li a {
  text-decoration: none;
}
ul#albumText {
  margin: 0 0 10px 29px;
}
ul#albumText li {
  display: inline;
  margin-left: 35px;
  font-weight: bold;
}
ul#albumText li a {
  text-decoration: none;
}
/***************************/
/*********TOUR PAGE********/
#tourHeader {
  margin: 10px 0 10px 68px;
  text-decoration: underline;
  font-size: 28px;
}
ul#fullTour {
  margin: 20px 0 0 0;
  display: inline;
  float: left;
  width: 700px;
  margin: 0 10px;
}
ul#fullTour li {
  margin: 10px 0 10px 60px;
}
.buyTix {
  display: inline;
  float: left;
  width: 220px;
  margin: 0 10px;
  float: right;
  margin-bottom: 10px;
}
.buyTix li {
  /*width: 300px;*/

  font-size: 20px;
}
/****************************/