@import 'styles/brand.less';
@import 'styles/typography.less';
@import 'styles/grid.less';
@import 'styles/mixins.less';

.container {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  background-color: @color4;
  .column(12);/*12 column grid*/
}

article#mainColumn {
  .column(7);
}

sidebar#sidebar {
  .column(5);
}

header {
  .column(12);
	color: @color1;
	float: left;
  width: 100%; 
  background-color: @color5;
h1 {
  font-family: 'Droid Sans', sans-serif;
  font-size: 50px;
  margin-left: 265px;
}  
}

nav {
  background-color: @color2;
  ul { 
  margin-left: 400px;
  li {
  display: inline;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  a {
    text-decoration: none;
  }
}
}
}

img#bandImg {
  margin-left: 175px;
}

.buyTix {
  margin-left: 400px;
  .column(6);
  float: right;
  /*margin-bottom: 2px;*/
  a {
    text-decoration: none;
  }
}

ul#fullTour {
  li {
    .column(6);
  }
}

