// Color Variables
// ----------------

@color1: #3cbdc8;
@color2: #2bb293;
@color3: #d44072;
@color4: #898989;
@color5: #393939;



// Typography Variables
// -------------------------

@bodyfontfamily: Roboto 300 Light;
@headingfontfamily: Droid Sans 700;

@basefontsize: 12px;
@baselineheight: 18px;
@basefontcolor: blue;
@basefontweight: bold;
@navfontsize: 24px;
@bodyfontsize: 13px;

@honefontsize: 28px;
@htwofontsize: 22px;
@hthreefontsize: 18px;
@headerfont: 'Droid Sans';

@headingfontweight: normal;




