@import: 'brand.less';
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:700);
@import url(http://fonts.googleapis.com/css?family=Roboto:300);


body {
  font-family: @bodyfontfamily;
}

p {
  color: @color5;
}

h1 {
  font-family: @headerfont;
  font-size: @honefontsize * 3;
}

h2 {
  font-family: @headerfont;
  font-size: @htwofontsize * 4;
}

h3 {
  font-family: @headerfont;
  font-size: @hthreefontsize * 5;
}

a {
  color: @color5;
  &:hover {
    color: @color1;
  }
}